.red {
    color: red;
}

.wow-enter {

    opacity: 0;

}

.wow-enter-active {

    opacity: 1;
    transition: all 500ms;

}




.my-alert {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    font-size: 25px;
}

.my-alert2 {
    @extend .my-alert;
    background: #ffe591;
}